
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /lightrabbit.pro/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /service.tvd12.com/index.php [L]
</IfModule>
<IfModule mod_php5.c>
php_value max_execution_time 0
php_value memory_limit 512M
php_value post_max_size 128M
php_value upload_max_filesize 128M
</IfModule>
# END WordPress
